@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@keyframes tourne {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
div.menu:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  animation: apparition 1s ease;
}

div.menu:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  animation: apparition 1s ease;
  animation-delay: 0.1s;
}

div.menu:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
  animation: apparition 1s ease;
  animation-delay: 0.2s;
}

div.menu:nth-child(3) > div:nth-child(2) > div:nth-child(1) {
  animation: apparition 1s ease;
  animation-delay: 0.3s;
}

div.menu:nth-child(3) > div:nth-child(2) > div:nth-child(2) {
  animation: apparition 1s ease;
  animation-delay: 0.4s;
}

div.menu:nth-child(3) > div:nth-child(2) > div:nth-child(3) {
  animation: apparition 1s ease;
  animation-delay: 0.5s;
}

div.menu:nth-child(4) > div:nth-child(2) > div:nth-child(1) {
  animation: apparition 1s ease;
  animation-delay: 0.6s;
}

div.menu:nth-child(4) > div:nth-child(2) > div:nth-child(2) {
  animation: apparition 1s ease;
  animation-delay: 0.7s;
}

div.menu:nth-child(4) > div:nth-child(2) > div:nth-child(3) {
  animation: apparition 1s ease;
  animation-delay: 0.8s;
}

h1 {
  font-family: "shrikhand", sans-serif;
}

h3 {
  font-family: "roboto", Arial, sans-serif;
}

p {
  font-family: "roboto", Arial, sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
  font-family: "roboto", Arial, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

nav {
  margin-left: 5%;
}
nav a {
  text-decoration: none;
  color: inherit;
}

.photo img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.conteneurmenu {
  background-color: #f6f6f6;
  position: relative;
  border-radius: 30px 30px 0px 0px;
  padding-bottom: 10px;
}
.conteneurmenu .restaurant {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -30px;
}
.conteneurmenu .restaurant h2 {
  font-family: "shrikhand", sans-serif;
  width: 70%;
  margin-left: -15px;
}
.conteneurmenu .fa-heart {
  font-size: x-large;
}
.conteneurmenu .menu {
  margin-left: 15px;
  padding-bottom: 10px;
}
.conteneurmenu .menu h3 {
  color: #00000059;
  font-size: medium;
  border-bottom: 2px solid #99e2d0;
  width: 13%;
  padding-bottom: 5px;
}

.conteneurvignette .vignette {
  display: flex;
  align-items: center;
  background-color: white;
  width: 95%;
  justify-content: space-between;
  box-shadow: 1px 1px 1px 1px #80808045;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
.conteneurvignette .vignette:hover .valide {
  margin-right: 0px;
}
.conteneurvignette .vignette:hover .valide .confirmation i {
  animation: tourne 1s ease;
}
.conteneurvignette .vignette .note {
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.conteneurvignette .vignette .note h4 {
  margin: 10px 0px 2px 0px;
  font-size: large;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.conteneurvignette .vignette .note p {
  margin: 2% 0% 5% 0%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.conteneurvignette .vignette .valide {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-between;
  margin-right: -65px;
  transition: 1s;
}
.conteneurvignette .vignette .valide .prix {
  margin: 25% 0% 0% 0%;
  font-weight: bold;
}
.conteneurvignette .vignette .valide .confirmation {
  padding: 23px 20px 23px 20px;
  background-color: #99e2d0;
  border-radius: 0px 10px 10px 0px;
}
.conteneurvignette .vignette .valide .confirmation .fa-check-circle {
  font-size: x-large;
  color: white;
}

.pagefooter {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.pagefooter h3 {
  margin-left: 15px;
  font-family: "Shrikhand", sans-serif;
  font-size: larger;
}
.pagefooter .footer {
  margin-left: 15px;
}
.pagefooter .proposer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.pagefooter .proposer p {
  margin: 0px 0px 0px 10px;
}
.pagefooter .devenir {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pagefooter .devenir p {
  margin: 0px 0px 0px 10px;
}

.bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}
.bouton button {
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), #ff79da);
  padding: 15px 40px;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 5px 5px 5px #00000017;
  border: none;
  font-size: medium;
}
.bouton button:hover {
  opacity: 0.85;
  box-shadow: 5px 5px 5px #00000054;
}

.coeur {
  position: relative;
  height: 25px;
  width: 30px;
  clip-path: polygon(10% 30%, 12.2036485672% 20.8645038605%, 18.342300415% 13.7471637726%, 27.0508384705% 10.2159767151%, 36.4127159119% 11.0503139496%, 44.3553009033% 16.0743713379%, 49.1355781555% 24.165807724%, 50.3139419556% 26.4511260986%, 54.1091079712% 17.8541946411%, 61.4090843201% 11.9340372086%, 70.607635498% 10.0091276169%, 79.6715621948% 12.4898614883%, 86.599937439% 18.8410644531%, 89.8636779785% 27.6532478333%, 89.438949585% 37.1053962708%, 87.0573654175% 46.2735748291%, 83.115447998% 54.8918266296%, 77.994682312% 62.8705635071%, 72.0159225464% 70.2314071655%, 65.4133148193% 77.0403671265%, 58.3499450684% 83.3713607788%, 50.9385795593% 89.2917633057%, 43.4583091736% 84.8747558594%, 36.299747467% 78.6514816284%, 29.5699996948% 71.9677658081%, 23.4179058075% 64.7506103516%, 18.0579891205% 56.9297142029%, 13.7893915176% 48.4673080444%, 10.9856128693% 39.4180450439%, 10% 30%);
}

.coeur:hover .remplissage {
  height: 100%;
}

.coeur i.far:nth-child(1) {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 3px;
  margin-top: 0.5px;
}

.remplissage {
  position: absolute;
  bottom: 0px;
  height: 0px;
  width: 100%;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), #ff79da);
  transition: 0.3s;
}

/*# sourceMappingURL=menu.css.map */
