@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "roboto", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes visibiliter {
  0% {
    visibility: visible;
    opacity: 0.9;
    background-color: white;
  }
  100% {
    visibility: collapse;
    opacity: 0.9;
    background-color: white;
  }
}
@keyframes mouvement {
  0% {
    margin-left: 0%;
  }
  25% {
    margin-left: 50%;
  }
  50% {
    margin-left: 100%;
  }
  75% {
    margin-left: 50%;
  }
  100% {
    margin-left: 0%;
  }
}
.chargement {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: collapse;
  animation: visibiliter 3s;
}
.chargement .conteneurbulle {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 40%;
  width: 150px;
  height: 200px;
  left: 30%;
}
.chargement .conteneurbulle .bulle1 {
  width: 30px;
  height: 30px;
  background-color: #9356DC;
  border-radius: 50%;
  animation: mouvement 3s linear 0s infinite alternate;
}
.chargement .conteneurbulle .bulle2 {
  width: 30px;
  height: 30px;
  background-color: #FF79DA;
  border-radius: 50%;
  animation: mouvement 3s linear 0.5s infinite alternate;
}
.chargement .conteneurbulle .bulle3 {
  width: 30px;
  height: 30px;
  background-color: #99E2D0;
  border-radius: 50%;
  animation: mouvement 3s linear 1s infinite alternate;
}

header {
  text-align: center;
  font-family: "Shrikhand", sans-serif;
  box-shadow: 0px 1px 1px 1px #80808045;
  position: relative;
}

header h1 {
  margin: 0px;
  padding: 0px;
}

.ville {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000014;
  font-size: larger;
}
.ville p {
  margin-left: 15px;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #80808012;
  padding-bottom: 10%;
}
.explorer h2 {
  width: 70%;
  margin-bottom: 0px;
}
.explorer p {
  width: 95%;
}
.explorer button {
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), #ff79da);
  padding: 15px;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 5px 5px 5px #00000017;
  border: none;
  font-size: medium;
}
.explorer button:hover {
  opacity: 0.85;
  box-shadow: 5px 5px 5px #00000054;
}

.fonctionnementsite h2 {
  margin-left: 5%;
}

.conteneurvignette {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.vignette {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 85%;
  background-color: #f6f6f6;
  height: 80px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 4px #0000000d;
  margin-bottom: 30px;
  margin-left: 10px;
}
.vignette p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  margin: 0px 0px 0px -15px;
  width: 30px;
  height: 30px;
}
.vignette i {
  margin: 0px 5% 0px 5%;
  color: grey;
}
.vignette h3 {
  opacity: 0.8;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 30px 0px 30px 0px;
}
.menu h2 {
  margin-left: 5%;
}

.cartemenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carte {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 2px 4px #0000000d;
}
.carte img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  object-fit: cover;
}
.carte a {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.carte .nouveau {
  position: absolute;
  right: 15px;
  padding: 5px 15px;
  top: 15px;
  color: #008766;
  background-color: #99e2d0;
}

.conteneurnote {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.note h3 {
  margin: 10px 0px 0px 10px;
}
.note p {
  margin: 5px 0px 5px 10px;
  font-weight: lighter;
}

.pagefooter {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.pagefooter h3 {
  margin-left: 15px;
  font-family: "Shrikhand", sans-serif;
  font-size: larger;
}
.pagefooter .footer {
  margin-left: 15px;
}
.pagefooter .proposer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.pagefooter .proposer p {
  margin: 0px 0px 0px 10px;
}
.pagefooter .devenir {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pagefooter .devenir p {
  margin: 0px 0px 0px 10px;
}

.coeur {
  position: relative;
  height: 25px;
  width: 30px;
  clip-path: polygon(10% 30%, 12.2036485672% 20.8645038605%, 18.342300415% 13.7471637726%, 27.0508384705% 10.2159767151%, 36.4127159119% 11.0503139496%, 44.3553009033% 16.0743713379%, 49.1355781555% 24.165807724%, 50.3139419556% 26.4511260986%, 54.1091079712% 17.8541946411%, 61.4090843201% 11.9340372086%, 70.607635498% 10.0091276169%, 79.6715621948% 12.4898614883%, 86.599937439% 18.8410644531%, 89.8636779785% 27.6532478333%, 89.438949585% 37.1053962708%, 87.0573654175% 46.2735748291%, 83.115447998% 54.8918266296%, 77.994682312% 62.8705635071%, 72.0159225464% 70.2314071655%, 65.4133148193% 77.0403671265%, 58.3499450684% 83.3713607788%, 50.9385795593% 89.2917633057%, 43.4583091736% 84.8747558594%, 36.299747467% 78.6514816284%, 29.5699996948% 71.9677658081%, 23.4179058075% 64.7506103516%, 18.0579891205% 56.9297142029%, 13.7893915176% 48.4673080444%, 10.9856128693% 39.4180450439%, 10% 30%);
}
.coeur:hover .remplissage {
  height: 100%;
}
.coeur i.far:nth-child(1) {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 3px;
  margin-top: 0.5px;
  font-size: x-large;
}

.remplissage {
  position: absolute;
  bottom: 0px;
  height: 0px;
  width: 100%;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), #ff79da);
  transition: 0.3s;
}

.contour {
  background-color: none;
}

@media (min-width: 900px) {
  .explorer {
    padding-bottom: 3%;
  }

  .conteneurvignette {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-evenly;
  }
  .conteneurvignette .vignette {
    width: 30%;
  }

  .cartemenu {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .cartemenu .carte {
    width: 45%;
  }

  .chargement .conteneurbulle {
    left: 45%;
    width: 200px;
  }
}
@media (min-width: 500px) and (max-width: 900px) {
  .explorer {
    padding-bottom: 3%;
  }

  .cartemenu {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .cartemenu .carte {
    width: 45%;
  }

  .chargement .conteneurbulle {
    left: 35%;
    width: 200px;
  }

  .note h3 {
    font-size: large;
  }
}

/*# sourceMappingURL=ohmyfood.css.map */
